* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  padding: 16px;
}

h3,
p,
ul {
  margin: 16px;
}

li {
  list-style: none;
}

.pill {
  background-color: white;
  border-radius: 12px;
  box-shadow: 12px 12px 12px white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
  text-decoration: none;
}

.pill:hover {
  box-shadow: 6px 6px 12px white;
}