---
layout: base.njk
title: Home
---
<span class="prompt">visitor@philippfrom.me:~$</span> cat README.txt

# Philipp Fromme
Software Engineer

## Projects

* <a href="https://philippfrom.me/node-sequencer-demo/" rel="noopener">Node-based sequencer for the web</a> <span class="dim">↗</span>
* <a href="https://philippfrom.me/granular-js-demo/" rel="noopener">Granular synthesizer for the web</a> <span class="dim">↗</span>
